/*Genral*/
:root {
    --main-bg-color: rgb(183, 217, 221);    
  }

.fondo{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}

/* Estilo para el H1 */
.text{ 
    margin-top: 0; 
    position: relative;
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: rgb(15, 68, 75);
    overflow: hidden;
}
.text span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    font-size: 48px;
    text-transform: uppercase;
}
.text:hover span:nth-child(1){
    -webkit-clip-path: polygon(0 0,100% 0, 100% 50%, 0 50%);
    clip-path: polygon(0 0,100% 0, 100% 50%, 0 50%);
    animation: animate 4s linear infinite;
}
.text:hover span:nth-child(2){
    -webkit-clip-path: polygon(0 50%,100% 50%, 100% 100%, 0 100%);
    clip-path: polygon(0 50%,100% 50%, 100% 100%, 0 100%);
    animation: animate 4s reverse infinite;
}

.contenedor{
    background-color: #fff;
    border-radius: 1.3rem;
}
@keyframes animate {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(0);
    }
    60%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}


